*{
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device{
    height: 60%;
    width: 500px;
    border: black solid 1px;
}

.screen{
    height: 25%;
    width: 500px;
    border: gray solid 1px;
}

.buttonRow{
    height: 15%;
    width: 500px;
    border: black dashed 1px;
    display: flex;
    justify-content: space-around;  

}